@model ControlWorkMVC1.Models.DataRegs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.typeWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siteWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siteWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detailsWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detailsWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeStartWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeStartWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeFinishWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeFinishWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.earned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.earned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
